Rascunho de cores 
#rascunho {
  color: #40514e; /*color: #40514e; */
  color: #FF1493; /*color: #11999e; */
  color: #FFB6C1; /*color: #66bfbf; */
  color: #FFF0F5; /*color: #eaf6f6;*/
} 

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: white;
  color: #40514e;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  color: #FFB6C1; /*color: #FF69B4;*/
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
}

h2 {
  color: #FFB6C1; /*color: #FF69B4;*/
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
h3,
h4,
h5,
h6 {
  color: #FF1493;
  font-family: "Montserrat", sans-serif;
}

a {            /** é as escritas no rodapé, com links */
  color: #FF1493;
  margin: 10px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

a:hover { /*quando passa o mouse em cima do elemento a, ele muda a cor */
  color: #FFF0F5;
}

.top-container {
  position: relative;
  background-color: #FFF0F5;
  /*color: #FF69B4;
  background-color: #FFF5EE;*/
  ;
}

.bottom-container {
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 50px;
  background-color: #FFB6C1;
 /* background-color: #FF1493;*/
}

.bottom-container p {
  margin-top: 25px;
  margin-bottom: 0px;
  color: #FFF0F5;
}

.top-cloud-img {
  margin: -400px 0px 0px 300px;
}

.bottom-cloud-img {
  margin: -150px 0px 0px -400px
}

.profile {
  width: 60%;
  margin: 100px auto;
}

.contact-me {
  width: 60%;
  margin: 50px auto;
}

.contact-me p {
  margin: 50px;
}

.middle-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: center;

}

.top-cloud-img,
.bottom-cloud-img {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.cor{
  color: white;
}

.top-cloud-img {
  margin: -400px 0px 0px 240px;
  display: block;
}

.underline {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
  text-align: justify;
  line-height: 2;
  
}

.skills {
  margin: 8%;
}

.teaching-img,
.programming-img {
  width: 100%;
}

.teaching-img {
  /* float: left; */
  margin-left: -30px;
}

.programming-img {
  /* float: right; */
  margin-left: 30px;
}

.skill-description-img {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.skill-description-text {
width: 70%;
display: inline-block;
vertical-align: middle;
}

.footer-link {
  padding: 20px;
  text-align: center;
}

.btn {
	background-color:#FF1493;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
text-indent:0;
	border:1px solid #40514e;
	display:inline-block;
	color:#FFF0F5;
	font-family: "Montserrat", sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #40514e;
}.btn:hover {
	background-color:#FFB6C1;
}.btn:active {
	position:relative;
	top:1px;
}
